$bg_mobile: url("images/bg-mobile.svg");
$bg_desktop: url("images/bg-desktop.svg");

body {
    background-color: hsl(257, 40%, 49%);
    margin: 1rem 1rem;
}

.logo {
    max-width: 40%;
}

.header {
    margin-bottom: 2rem;
}

.main {
    display: flex;
}

.image {
    display: none;
}

/* mobile */
@media screen and (max-width: 375px) {
    body {
        background-image: $bg_mobile;
    }

    .main {
        flex-direction: column;
    }

    .image {
        max-width: 50%;
    }
}

/* desktop */
@media screen and (min-width: 376px){
    body {
        background-image: $bg_desktop;
    }

    .main {
        flex-direction: row;
    }
}