$bg_mobile: url("images/bg-mobile.svg");
$bg_desktop: url("images/bg-desktop.svg");

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(257, 40%, 49%);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1rem;
}

.logo {
    max-width: 40%;
}



.main {
    display: grid;
    margin: 1rem;
}

footer {
    margin: 1rem 1rem;
    text-align: center;
}

.image {
    grid-area: image-area;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.text {
    grid-area: text-area;
}

/* mobile */
@media screen and (max-width: 375px) {
    body {
        background-image: $bg_mobile;
        background-repeat: no-repeat;
    }
    
    .header {
        margin: 1rem;
    }

    .main {
        grid-template-columns: 100%;
        grid-template-rows: 1 1;
        grid-template-areas:
        "image-area"
        "text-area";
        div {
            padding: 1rem 0.2rem;
        }
    }
}

/* desktop */
@media screen and (min-width: 376px){
    body {
        background-image: $bg_desktop;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .header {
        margin: 2rem;
    }

    .main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1;
        grid-template-areas: 
        "image-area text-area";
        div {
            padding: 0.5rem 1rem;
        }
    }
}